* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-app {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.container-quiz {
    width: 40%;
    height: 85%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    flex-flow: column;
    text-align: center;
    border: 1px solid #e7eae0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.quiz-header {
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #e7eae0;
    justify-content: center;
    align-items: center;
    background-color: #e7eae0;
    border-radius: 10px 10px 0 0;
}

.quiz-main {
    display: flex;
    width: 100%;
    height: 70%;
    flex-flow: column;
    margin: auto;
}

.quiz-footer {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    border-top: 1px solid #e7eae0;
    background-color: #e7eae0;
    border-radius: 0 0 10px 10px;
}

.box-question {
    margin-top: 20px;
}

.box-question p {
    margin-top: 20px;
    font-size: 22px;
}

.box-suggestions {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}

ul {
    display: flex;
    width: 80%;
    flex-flow: column;
}

ul li {
    list-style: none;
    line-height: 2;
    border: 1px solid #cdd2d2;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
}

li:hover {
    background-color: #e7eae0;
}

.box-button {
    display: flex;
    width: 100%;
}

.box-button button,
.btn-restart button {
    width: 150px;
    height: 35px;
    outline: none;
    border: 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
    background-color: #a09f9ff5;
}

li.correct {
    border: 1px solid rgb(74, 219, 74);
    background-color: rgb(74, 219, 74);
    color: white;
    font-weight: 600;
}

li.incorrect {
    border: 1px solid rgb(240, 117, 100);
    background-color: rgb(240, 117, 100);
    color: white;
    font-weight: 600;
}

.box-score {
    width: 120%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 15;
    border: 1px solid #e7eae0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 26px 26px rgba(0, 0, 0, 0.23);
    left: -63px;
    top: -686px;
    transition: 0.3s all ease;
}

.box-score.active {
    top: 0;
}

.box-score h2 {
    margin-top: 40px;
    font-size: 50px;
}

.box-score p {
    font-size: 50px;
}

.box-score span {
    display: inline-block;
    position: absolute;
    font-size: 56px;
    padding: 15px;
    border: 1px solid black;
    top: 0;
    right: 0;
    cursor: pointer;
}

.btn-restart {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 50px;
}

.btn-restart button {
    background-color: rgb(106, 128, 202);
    text-align: center;
    display: flex;
    padding: 25px 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
}

.step-progress {
    display: flex;
    width: 100%;
    height: 5px;
    background: rgb(106, 128, 202);
    transition: 0.5s;
}